logging:
  level:
    root: INFO
    org.wahlen.voucherengine: INFO
    io.awspring.cloud.sqs: WARN

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI}

  cloud:
    aws:
      region:
        static: ${AWS_DEFAULT_REGION:eu-central-1}
      credentials:
        instance-profile: true  # Use IAM role instead of access keys XXX
      sqs:
        listener:
          auto-startup: true
          max-concurrent-messages: 10
          max-messages-per-poll: 10
        enabled: true
      s3:
        enabled: true
        path-style-access-enabled: false # path-style-access is deprecated by AWS
